@layer base {
  input,
  textarea {
    @apply border-accent focus:ring-primary flex min-h-10 rounded-md border p-2 transition-all duration-200 focus:ring-2 focus:outline-none;
  }
}

@layer components {
  body:hover .mouse-tracker {
    @apply md:opacity-100;
  }

  .mouse-tracker {
    @apply pointer-events-none fixed -top-8 -left-8 z-999 size-4 -translate-1/2 rounded-full bg-white opacity-0 transition duration-400;
    mix-blend-mode: difference;
    will-change: left, top;

    &.moving {
      @apply scale-160 duration-200;
    }
  }

  .sect {
    @apply flex flex-col items-center justify-center gap-8 px-4 py-16;
  }

  .sect-container {
    @apply flex w-full max-w-7xl flex-col items-center gap-12;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary-hover text-primary-contrast flex min-h-10 w-fit items-center justify-center gap-2 rounded-md px-4 py-2 font-semibold transition-colors duration-400;
  }

  .secondary-btn {
    @apply bg-accent hover:bg-accent-hover text-accent-contrast flex min-h-10 w-fit items-center justify-center gap-2 rounded-md px-4 py-2 font-semibold transition-colors duration-400;
  }

  .card {
    @apply bg-background border-border hover:border-border-hover flex flex-col gap-4 rounded-xl border p-8 transition-colors duration-400;
  }

  .frame-tab {
    @apply text-text-secondary hover:text-text;

    &.active {
      @apply bg-background text-text;
    }
  }

  .frame-vp {
    @apply text-text-secondary hover:bg-surface hover:text-text;

    &.active {
      @apply bg-surface text-primary;
    }
  }
}
