@import "tailwindcss";

@import "./components.css";
@import "./theme.css";

@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@utility font-title {
  font-family: "Bebas Neue", "Inter", "Segoe UI", system-ui, sans-serif;
}

@utility font-default {
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 4);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: var(--spacing) solid var(--color-background);
    border-radius: calc(var(--spacing) * 2);
  }

  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background text-text font-default;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  img {
    @apply select-none;
  }

  ::selection {
    @apply bg-primary text-primary-contrast;
  }

  .selection-contrast::selection,
  .selection-contrast *::selection {
    @apply bg-background text-text;
  }

  h1 {
    @apply text-6xl md:text-8xl font-title tracking-tight;
  }

  h2 {
    @apply text-5xl md:text-6xl font-title tracking-tight;
  }

  h3 {
    @apply text-3xl font-semibold tracking-tight;
  }

  h4 {
    @apply text-xl font-medium tracking-tight;
  }

  h5 {
    @apply text-lg font-medium tracking-wide;
  }

  h6 {
    @apply text-base font-medium tracking-wide;
  }

  p,
  li,
  a {
    @apply text-sm font-normal tracking-wider;
  }
}
