@layer base {
  input,
  textarea {
    @apply flex p-2 min-h-10 rounded-md border border-accent focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200;
  }
}

@layer components {
  .loader {
    @apply bg-background-secondary fixed inset-0 z-999 skew-x-10 transition-all duration-800 ease-out;

    &.left {
      @apply -translate-x-2/10;

      &.loaded {
        @apply -translate-x-12/10;
      }
    }

    &.right {
      @apply translate-x-2/10;

      &.loaded {
        @apply translate-x-12/10;
      }
    }
  }

  body:hover .mouse-tracker {
    @apply md:opacity-100;
  }

  .mouse-tracker {
    @apply fixed -top-8 -left-8 size-16 rounded-full border border-primary/40 bg-primary/10 -translate-1/2 transition duration-800 pointer-events-none z-999 opacity-0;

    &.moving {
      @apply scale-160 duration-400;
    }

    /* FOR CONTRAST WITH PRIMARY BACKGROUND */
    &::after {
      @apply absolute inset-0 rounded-full border border-primary-contrast/40 bg-primary-contrast/10 transition duration-800 pointer-events-none z-999;
      content: "";
    }
  }

  .sect {
    @apply flex flex-col gap-8 px-4 py-16 items-center justify-center;
  }

  .sect-container {
    @apply flex flex-col w-full max-w-7xl gap-12 items-center;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary-hover text-primary-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 min-h-10 rounded-md transition duration-400;
  }

  .secondary-btn {
    @apply bg-accent hover:bg-accent-hover text-accent-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 min-h-10 rounded-md transition duration-400;
  }

  .card {
    @apply flex flex-col p-8 gap-4 border bg-background border-border rounded-md shadow-primary/10 hover:shadow-md transition-shadow duration-400;
  }
}
