@layer base {
  input,
  textarea {
    @apply flex p-2 min-h-10 rounded-md border border-accent focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200;
  }
}

@layer components {
  body:hover .mouse-tracker {
    @apply md:opacity-100;
  }

  .mouse-tracker {
    @apply fixed -top-8 -left-8 size-4 rounded-full bg-white -translate-1/2 transition duration-400 pointer-events-none z-999 opacity-0;
    mix-blend-mode: difference;

    &.moving {
      @apply scale-160 duration-200;
    }
  }

  .sect {
    @apply flex flex-col gap-8 px-4 py-16 items-center justify-center;
  }

  .sect-container {
    @apply flex flex-col w-full max-w-7xl gap-12 items-center;
  }

  .primary-btn {
    @apply bg-primary hover:bg-primary-hover text-primary-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 gap-2 min-h-10 rounded-md transition-colors duration-400;
  }

  .secondary-btn {
    @apply bg-accent hover:bg-accent-hover text-accent-contrast font-semibold flex w-fit items-center justify-center px-4 py-2 gap-2 min-h-10 rounded-md transition-colors duration-400;
  }

  .card {
    @apply flex flex-col p-8 gap-4 border bg-background border-border rounded-xl shadow-primary/10 hover:shadow-md hover:border-border-hover transition-[box-shadow,border] duration-400;
  }

  .frame-tab {
    @apply text-text-secondary hover:text-text;

    &.active {
      @apply bg-background text-text;
    }
  }

  .frame-vp {
    @apply text-text-secondary hover:bg-surface hover:text-text;

    &.active {
      @apply bg-surface text-primary;
    }
  }
}
