@layer base {
  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 4);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: var(--spacing) solid var(--color-primary-contrast);
    border-radius: calc(var(--spacing) * 2);
  }

  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background;
  }

  button {
    @apply [&:not(:disabled)]:cursor-pointer;
  }

  img {
    @apply select-none;
  }
}
