@theme {
  --color-primary: var(--color-neutral-950);
  --color-primary-contrast: var(--color-neutral-50);
  --color-primary-hover: var(--color-neutral-700);
  --color-accent: var(--color-neutral-300);
  --color-accent-contrast: var(--color-neutral-950);
  --color-accent-hover: var(--color-neutral-400);
  --color-border: var(--color-neutral-300);
  --color-background: var(--color-neutral-50);
  --color-background-secondary: var(--color-neutral-100);
  --color-text: var(--color-neutral-950);
  --color-text-secondary: var(--color-neutral-700);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-sm: rgba(0, 0, 0, 0.05);
  --color-shadow-lg: rgba(0, 0, 0, 0.2);
}
