@import "tailwindcss";

@theme {
  --color-primary: var(--color-neutral-950);
  --color-primary-contrast: var(--color-neutral-50);
  --color-primary-hover: var(--color-neutral-700);
  --color-accent: var(--color-neutral-300);
  --color-accent-contrast: var(--color-neutral-950);
  --color-accent-hover: var(--color-neutral-400);
  --color-border: var(--color-neutral-300);
  --color-border-hover: var(--color-neutral-600);
  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-100);
  --color-surface: var(--color-neutral-200);
  --color-text: var(--color-neutral-950);
  --color-text-secondary: var(--color-neutral-700);

  --color-success: var(--color-emerald-500);
  --color-success-contrast: var(--color-emerald-50);
  --color-success-light: var(--color-emerald-100);
  --color-success-dark: var(--color-emerald-800);
  --color-warning: var(--color-amber-500);
  --color-warning-contrast: var(--color-amber-50);
  --color-warning-light: var(--color-amber-100);
  --color-warning-dark: var(--color-amber-800);
  --color-error: var(--color-rose-500);
  --color-error-contrast: var(--color-rose-50);
  --color-error-light: var(--color-rose-100);
  --color-error-dark: var(--color-rose-800);
  --color-info: var(--color-sky-500);
  --color-info-contrast: var(--color-sky-50);
  --color-info-light: var(--color-sky-100);
  --color-info-dark: var(--color-sky-800);

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 90rem;
}

@utility font-default {
  font-family: "Segoe UI", system-ui, sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 4);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: var(--spacing) solid var(--color-background);
    border-radius: calc(var(--spacing) * 2);
  }

  html,
  body {
    @apply flex flex-col min-h-screen overflow-x-hidden bg-background text-text font-default;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  img {
    @apply select-none;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  .selection-contrast::selection,
  .selection-contrast *::selection {
    background: var(--color-primary-contrast);
    color: var(--color-primary);
  }

  h1 {
    @apply text-5xl md:text-7xl font-bold tracking-tight;
  }

  h2 {
    @apply text-3xl md:text-5xl font-bold tracking-tight;
  }

  h3 {
    @apply text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply text-xl font-medium tracking-tight;
  }

  h5 {
    @apply text-lg font-medium tracking-wide;
  }

  h6 {
    @apply text-base font-medium tracking-wide;
  }

  p,
  li,
  a {
    @apply text-sm font-normal tracking-wider;
  }
}

@layer components {
  .sect {
    @apply flex flex-col gap-8 px-4 py-16 items-center justify-center;
  }

  .sect-container {
    @apply flex flex-col w-full max-w-7xl gap-12 items-center;
  }
}
