@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: var(--color-olive-600);
  --color-primary-contrast: var(--color-olive-50);
  --color-primary-hover: var(--color-olive-800);
  --color-accent: var(--color-emerald-300);
  --color-accent-contrast: var(--color-emerald-950);
  --color-accent-hover: var(--color-emerald-400);
  --color-border: var(--color-olive-200);
  --color-border-hover: var(--color-olive-400);
  --color-background: var(--color-olive-50);
  --color-foreground: var(--color-olive-100);
  --color-surface: var(--color-olive-200);
  --color-text: var(--color-olive-950);
  --color-text-secondary: var(--color-olive-700);
}

@utility font-default {
  font-family: "Onest", "Segoe UI", system-ui, sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 4);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: var(--spacing) solid var(--color-background);
    border-radius: calc(var(--spacing) * 2);
  }

  html,
  body {
    @apply bg-background text-text font-default flex min-h-screen flex-col overflow-x-hidden;
  }

  button {
    @apply not-disabled:cursor-pointer;
  }

  img {
    @apply select-none;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  .selection-contrast::selection,
  .selection-contrast *::selection {
    background: var(--color-primary-contrast);
    color: var(--color-primary);
  }

  h1 {
    @apply text-5xl font-bold tracking-tight md:text-7xl;
  }

  h2 {
    @apply text-3xl font-bold tracking-tight md:text-5xl;
  }

  h3 {
    @apply text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply text-xl font-medium tracking-tight;
  }

  h5 {
    @apply text-lg font-medium tracking-wide;
  }

  h6 {
    @apply text-base font-medium tracking-wide;
  }

  p,
  li,
  a {
    @apply text-sm font-normal tracking-wider;
  }
}

@layer components {
  .sect {
    @apply flex flex-col items-center justify-center gap-8 px-4 py-24;
  }

  .sect-container {
    @apply flex w-full max-w-7xl flex-col items-center gap-12;
  }
}
